body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(car-back.jpg);
  background-size: cover;
  background-position: center;
}

.carBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18em;
  padding: 1.5em;
  border-radius: 0.625em;
  background-color: white;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

#regNumber {
  text-transform: uppercase;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 0.063em solid #ccc;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons button:hover {
  background-color: black;
}

.buttons button:active {
  background-color: lime;
}

.buttons button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#warningMSG {
  color: red;
  margin-top: 1em;
}